.container {
  display: flex;
  border-radius: 31px;
  background: #148a08;
  width: 12vw;
  height: 3vw;

  color: #fff;
  font-family: Roboto;
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 400;
  line-height: 105.688%; /* 26.573px */
  letter-spacing: 0.503px;
  text-align: center;
  /* padding-top: 1; */
}
.genere {
  text-align: center;
  padding-top: 5.3%;
  padding-left: 2%;
  flex: 50%;
}
.cross {
  cursor: pointer;
  border-left-style: solid;
  width: 20%;
  height: 75%;
  margin-top: 2.5%;
  margin-right: 1vw;
  padding-left: 0.7vw;
  padding-bottom: 1.5px;
  color: #085c00;
  font-family: Roboto;
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 105.688%; /* 27.831px */
  letter-spacing: 0.527px;
}
