.dashContainer {
  display: flex;
  background-color: black;
  width: 100%;
  height: 100vh;
}
.leftSection {
  /* border: 2px solid yellow; */
  flex: 60%;
  height: 100vh;
}
.rightSection {
  flex: 40%;
}
.cardContainer {
  margin-left: 10%;
  margin-top: 60px;
}
